*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style:none;
}
.container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.header__nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__nav{
    padding: 25px 0;
    background: black;
}
.header__nav-list{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 25px;
}
.logo{

text-transform: uppercase;    
font-size: 30px;
font-weight: 700;
color: white;
}
.header__nav-link{
    color:rgb(95, 89, 82) ;
}
.header__content{
   height: 800px;
   background: black; 
   display: flex;
   align-items: center;
   justify-content: center;
   
}
.header__content h1 {
color: white;
font-size: 50px;
color: white;    
}
.star{
    height: 50px;
    width: 50px;
    margin-left: 10px;
    
    background: yellow;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}
.main{
    height: 100vh;
    background:yellowgreen;
}